# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env*/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# Jupyter runtime files
.jupyter/
local/

# =========================
# Environment variables
# =========================
.env
*.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Pytest / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.swp
*.swo
